* {
  margin: 0%;
  padding: 0%;
  font-family: "Raleway";
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

nav {
  background-color: crimson;
  color: white;
  padding: 20px;
  text-align: center;
}
body {
  background-color: rgb(228, 227, 227);
}
.container {
  width: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  box-sizing: border-box;
  margin: 10px;
}
.container form {
  display: flex;
  flex-direction: column;
}
.container h1 {
  text-align: center;
  color: crimson;
  font-size: 1.5rem;
  margin: 10px;
}
.container button {
  transition: 0.5s;
}
.container button:hover {
  background-color: rgb(168, 25, 25);
}
input,
textarea,
button {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-radius: 7px;
  margin: 10px 0px;
}
button {
  border: none;
  cursor: pointer;
  background-color: crimson;
  color: antiquewhite;
}
.task {
  display: flex;
  margin: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 5px;
  width: auto;
  background-color: rgb(165, 135, 135);
}
.task div {
  width: 100%;
}
.task button {
  border-radius: 100%;
  width: 25px;
  height: 25px;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  transition: 0.5s;
}
.task button:hover {
  background-color: rgb(87, 5, 5);
}
